* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Edmondsans';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Edmondsans-Regular.otf')
}

body {
  margin: 0;
  background-color: #937019;
  height: 100%;
  overflow: hidden;
}

body, input, select {
  font-family: 'Edmondsans', sans-serif;
  font-size: 16px;
}

h1, h2, h3 {
  width: 100%;
}

#map {
  width: 100%;
  height: 100%;
  position: absolute;
}

#box {
  top: 10px;
  right: 10px;
  width: 460px;
  max-height: calc(100% - 30px);
  position: absolute;
  background-color: white;
  overflow-y: auto;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  border-radius: 4px;
}

#tab-switcher {
    display: none;
}

@media (max-width: 1023px) {
  .nav-tabs>li {
    width: 50%;
  }
  #tab-switcher {
    display: block;
    height: 42px;
  }
  #map {
    height: calc(100% - 42px);
  }
  #box {
    width: 100%;
    height: 100%;
    top: 42px;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: none;
  }
  .leaflet-bottom .leaflet-control.leaflet-bar {
    margin-bottom: 40px;
  }
}
@media (min-width: 1024px) {
  #box {
    display: block;
    opacity: 1;
  }
}

.info-container {
  padding: 16px;
  padding-top: 0;
}

#options {
  width: 100%;
}

#options tr td:first-child {
  text-align: left;
}

#options td {
  padding: 5px;
}

#options tr td:last-child {
  text-align: right;
}

#options input, #options select {
  width: 100%;
}

#bools-list li {
    list-style: none;
    text-align: center;
    padding: 5px 0;
}

#bools-list li > span {
    padding: 5px;
    color: #888;
}

#bools-list .active {
    color: #fff;
}

#bools-list .recap_10.active {
    background-color: #459CB0;
}

#bools-list .choice_neighborhood.active {
    background-color: #EAA40C;
}

#bools-list .promise_neighborhood.active {
    background-color: #EA0C0C;
}

#toggle-travelshed {
    width: calc(100% - 10px);
    height: 30px;
    margin: 5px;
}

#access-list {
    padding-left: 30px;
    margin-top: 18px;
}
#access-list li {
    font-size: large;
}
#access-list li div {
    padding-left: 0;
    margin-top: -18px;
}
#access-list li div:nth-child(2) {
    text-align: right;
}
