* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Edmondsans';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Edmondsans-Regular.otf')
}

body {
  margin: 0;
  background-color: #937019;
  height: 100%;
  overflow: hidden;
}

body, input, select {
  font-family: 'Edmondsans', sans-serif;
  font-size: 16px;
}

h1, h2, h3 {
  width: 100%;
}

#map {
  width: 100%;
  height: 100%;
  position: absolute;
}

#box {
  top: 10px;
  right: 10px;
  width: 460px;
  max-height: calc(100% - 30px);
  position: absolute;
  background-color: white;
  overflow-y: auto;
}

#info-box {
  bottom: 18px;
  right: 10px;
  width: 460px;
  max-height: calc(100% - 30px);
  position: absolute;
  background-color: white;
  overflow-y: auto;
}

.info-container {
  padding: 20px;
  padding-top: 0;
}

#options {
  width: 100%;
}

#options tr td:first-child {
  text-align: left;
}

#options td {
  padding: 5px;
}

#options tr td:last-child {
  text-align: right;
}

#options input, #options select {
  width: 100%;
}

#bools-list li {
    display: inline-block;
    text-align: center;
    margin: 5px 34px;
    padding: 5px;
    color: #888;
}

#bools-list li.active {
    color: #fff;
}

#bools-list li.recap_10.active {
    background-color: #459CB0;
}

#bools-list li.choice_neighborhood.active {
    background-color: #EAA40C;
}

#bools-list li.promise_neighborhood.active {
    background-color: #EA0C0C;
}

#toggle-travelshed {
    width: calc(100% - 10px);
    height: 30px;
    margin: 5px;
}

#access-list {
    padding-left: 20px;
}
#access-list li {
    font-size: large;
}

.pull-right {
    float: right;
}
