<!DOCTYPE html>
<html>
<head>
	<title>Transit Analyst</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/otpagraph.css" />
	<link rel="stylesheet" href="css/leaflet.css" />
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
  <link rel="stylesheet" href="css/Control.Geocoder.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.0.0/lodash.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <script src="js/d3.min.js" charset="utf-8"></script>
  <script src="js/leaflet.utfgrid.js" charset="utf-8"></script>
  <script src="js/OTPAGraph.js" charset="utf-8"></script>
  <script src="js/OTPAGraphBar.js" charset="utf-8"></script>
  <script src="js/Control.Geocoder.js"></script>

  <!--
  <script src="js/OTPAGraphLine.js" charset="utf-8"></script>
  <script src="js/OTPAGraphCircle.js" charset="utf-8"></script>
  <script src="js/OTPAGraphTable.js" charset="utf-8"></script>
  <script src="js/OTPAGraphDensity.js" charset="utf-8"></script>
  -->

  <script src="js/LocationLayer.js"></script>
  <script src="js/OTPALayer.js"></script>
</head>
<body>
  <div id="map"></div>
  <div id="box" class="leaflet-bar">
    <div class="info-container">
      <h1>Transit Analyst <img src="images/ajax-loader.gif" id="spinner"></h1>
      <p></p>
      <h4>Locations reachable within <span id="minutes">30</span> minutes:</h4>
      <table id="options">
        <tr><td>Travel time:</td><td><div id="slider"></div></td>
        <!-- <tr><td>Visualization:</td><td><select id="graph-type"></div></td> -->
        <tr><td>Point set:</td><td><select id="pointsets"></div></td>
        <tr hidden="true"><td>Indicators:</td><td><select id="indicators"></div></td>
      </table>
      <div id="graph"></div>
      <div id="block-info"></div>
    </div>
  </div>
  <div id="info-box" class="leaflet-bar">
    <div class="info-container">
    <h3>Location Details</h4>
    <div id="info"></div>
  </div>
  <div class="modal fade" id="legend" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4 class="modal-title">Transit Analyst</h4>
        </div>
        <div class="modal-body">
          <h4>
              Transit Analyst is an interactive tool for exploring transit accessibility to target resources from focus areas.
          </h4>
          <ul style="margin-left: 20px">
            <li>The <img src="js/images/marker-icon.png" style="width: 15px"> marker shows the current location. The black points are those accesible from that point within the selected travel time, and the gray points are not accessible.</li>
            <li>Choose a pointset to explore, and hover over the points to see information for that location.</li>
            <li>Move the mouse over the map to show blocks, and click on a block to see detailed information for that block.</li>
            <li>The "Show Travelshed" button will bring up a travelshed centered on the marker.  Each band of color represents an area that can be traveled to on public transit, in 15 minute increments.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script type="text/template" id="block-template">
    <h4 style="font-weight: bold;">Census Block <%= geoid10 %></h4>
    <button href="#" id='toggle-travelshed' data-lat="<%= lat %>" data-lng="<%= lng %>">Show Travelshed</button>
    <ul id="bools-list">
    <% _.each(bools, function(item) { %>
      <li class="<%= item.key %> <% if (item.value) { %>active<% } %>" title="<%= item.label %>">
        <%= item.shortLabel %>
      </li>
    <% }); %>
    </ul>
    <ul id="access-list">
        <li><%= label %> Accessibility Percentile : <span class="pull-right"><%= percentile %>%</span></li>
        <li><%= label %> Accessibility Index : <span class="pull-right"><%= index %></span></li>
    </ul>
  </div>
  </script>
  <script type="text/template" id="info-template">
    <h4><%= label %></h4>
    <label><%= description %></label>
  </div>
  </script>
  <script>
    var endpoint = 'http://otp.transitanalyst.com/otp/',
        basemapUrl= 'http://{s}.tile.thunderforest.com/transport/{z}/{x}/{y}.png',
        blockTileBaseUrl = 'http://transitanalyst.com/tiles/';
        range = {
          value: 30,
          min: 1,
          max: 90,
          step: 1
        },
        philly = [39.948043, -75.174170], // ~ 20th & Spruce
        graphTypes = [
          {type: 'bar', label: 'Bar'},
          {type: 'line', label: 'Line'},
          {type: 'circle', label: 'Circle'},
          {type: 'table', label: 'Table'},
          {type: 'density', label: 'Density'}
        ],
        pointset = 'headstart.geo',
        indicator = 'placeholder',
        indicators = {},
        graphType = graphTypes[0].type,
        visWidth = 300,
        otpaGraph = d3.otpaGraph().type(graphType).width(visWidth),

        dataLabels = [
            ['recap_10', 'Is a RECAP neighborhood', 'RECAP'],
            ['promise_neighborhood', 'Is a promise neighborhood', 'PROMISE'],
            ['choice_neighborhood', 'Is a choice neighborhood', 'CHOICE'],
        ],
        datasetLabels = {
            'cornerstores.geo': {
                'percentile': 'cornerstore_access_pct_rank',
                'label': 'Cornerstore',
                'index': 'cornerstore_access'
            },
            'headstart.geo': {
                'percentile': 'headstart_access_pct_rank',
                'label': 'Headstart Center',
                'index': 'headstart_access'
            },
            'healthcare.geo': {
                'percentile': 'healthcare_access_pct_rank',
                'label': 'Health Clinic',
                'index': 'healthcare_access'
            },
            'rec.geo': {
                'percentile': 'rec_access_pct_rank',
                'label': 'Recreation Center',
                'index': 'rec_access'
            },
            'playgrounds.geo': {
                'percentile': 'playground_access_pct_rank',
                'label': 'Playground',
                'index': 'playground_access'
            },
        };

    // Use location hash to specify URL of OTPA endpoint:
    // http://localhost:8080/#192.168.1.103:8080/otp/
    if (location.hash) {
      endpoint = 'http://' + location.hash.slice(1);
    }

    var map = L.map('map').setView(philly, 12);

    L.tileLayer(basemapUrl, {
      maxZoom: 18,
      attribution: 'Maps © Thunderforest, Data © OpenStreetMap contributors'
    }).addTo(map);

    var LegendControl = L.Control.extend({
      options: {
        position: 'bottomleft'
      },

      onAdd: function (map) {
        var container = L.DomUtil.create('div', 'leaflet-control leaflet-bar');
        $(container).html('<a class="legend-button" data-toggle="modal" href="#legend" href="javascript:;" title="Legend">?</a>');
        $('#legend').modal('show');
        return container;
      }
    });
    map.addControl(new LegendControl());

    var blockTileLayer = null;
    var gridLayer = null;
    var highlightedPolygon = null;
    var lastHoveredBlockData = null;
    var clickedBlockData = null;
    var clickedPolygon = L.geoJson([], {style: {color: '#ff3300'}}).addTo(map);

    var geocoder = L.Control.geocoder({
        position: "topleft",
    }).addTo(map);

    function moveHighlightedBlock(newPoint) {
      if (gridLayer) {
        // Get the object data and call the click event handler,
        // which will highlight the block group for that lat/lng
        var object = gridLayer._objectForEvent({latlng: newPoint});
        if (object.data) {
          lastHoveredBlockData = object.data;
          handleHighlightedClick({latlng: newPoint});
        }
      }
    }

    geocoder.markGeocode = function(result) {
        map.setView(result.center, 14);
        moveHighlightedBlock(result.center);
        otpaLayer.setLocation(result.center);
    };

    function handleHighlightedClick(e) {
      clickedBlockData = lastHoveredBlockData;
      clickedPolygon.clearLayers();
      clickedPolygon.addData(JSON.parse(clickedBlockData.geojson));
      updateBlockInfo();
    }

    function updateBlockTiles(pointset) {
      var blockTileUrl = blockTileBaseUrl + pointset + '/{z}/{x}/{y}.png';
      if (blockTileLayer != null) {
        map.removeLayer(blockTileLayer);
      }
      blockTileLayer = L.tileLayer(blockTileUrl);
      map.addLayer(blockTileLayer);

      if (gridLayer != null) {
        map.removeLayer(gridLayer);
      }

      if (highlightedPolygon != null) {
        map.removeLayer(highlightedPolygon);
      }

      highlightedPolygon = L.geoJson([], {style: {color: '#ff5050'} }).addTo(map);

      highlightedPolygon.on('click', function(e) {
        handleHighlightedClick(e);
        otpaLayer.setLocation(e.latlng);
      });

      gridLayer = new L.UtfGrid(blockTileBaseUrl + pointset + '/{z}/{x}/{y}.grid.json', {useJsonP: false});
      gridLayer.on('mouseover', function(e) {
        lastHoveredBlockData = e.data;
        var geojson = JSON.parse(e.data.geojson);
        highlightedPolygon.clearLayers();
        highlightedPolygon.addData(geojson);
      });
      map.addLayer(gridLayer);
    }

    function updateBlockInfo() {
      if (clickedBlockData) {
        var data = [];
        var bools = [];
        var center = clickedPolygon.getBounds().getCenter();

        _.each(dataLabels, function(item) {
          var itemValue = clickedBlockData[item[0]];
          bools.push({
              key: item[0],
              label: item[1],
              shortLabel: item[2],
              value: itemValue
          });
        });

        var pointsetLabels = datasetLabels[pointset];

        $('#block-info').html(blockTemplate({
          geoid10: clickedBlockData.geoid10,
          lat: center.lat,
          lng: center.lng,
          bools: bools,
          label: pointsetLabels.label,
          index: clickedBlockData[pointsetLabels.index],
          percentile: clickedBlockData[pointsetLabels.percentile],
        }));
      }
    }

    updateBlockTiles(pointset);

    d3.select('#slider').append('input')
      .attr('type', 'range')
      .attr('min', range.min)
      .attr('max', range.max)
      .attr('step', range.step)
      .attr('value', range.value)
      .on("input", function() {
        var value = d3.select(this).property('value');
        range.value = value;
        d3.select('#minutes').html(value); // replace span with # of minutes

        // update the graph immediately
        update(indicators, value * 60);

        // tell the layer about the change
        otpaLayer.updateTime(value);
      });

    d3.select('#graph-type').selectAll('option')
        .data(graphTypes).enter()
      .append('option')
        .attr('value', function(d) { return d.type; })
        .html(function(d) { return d.label; });

    d3.select('#graph-type').on("change", function() {
      graphType = d3.event.target.value;
      d3.select('#graph').selectAll('.otpa-graph').remove();
      otpaGraph = d3.otpaGraph().type(graphType).width(visWidth);
      update(indicators, range.value * 60);
    });

    d3.select('#pointsets').on("change", function() {
      pointset = d3.event.target.value;
      otpaLayer.setPointset(pointset);
      update(indicators, range.value * 60);
      updateBlockTiles(pointset);
      updateBlockInfo();
    });

    d3.select('#indicators').on("change", function() {
      indicator = d3.event.target.value;
      d3.select('#graph').selectAll('.otpa-graph').remove();
      update(indicators, range.value * 60);
    });

    var infoTemplate = _.template($("#info-template").html());
    var blockTemplate = _.template($("#block-template").html());

    // // TODO: make sure order of on() and addTo() does not matter
    var otpaLayer = L.otpaLayer(endpoint, {
        cutoffMinutes: range.max,
        isochroneMinutes: range.value,
        spinner: '#spinner',
        pointset: pointset,
        location: philly
      }).on('pointsets', function(e) {
        d3.select('#pointsets').selectAll('option')
            .data(e.data).enter()
          .append('option')
            .attr('value', function(d) { return d.id; })
            .html(function(d) { return datasetLabels[d.id].label + "s"; });
      }).on('change', function(e) {
        indicators = e.data;
        var indicatorKeys;
        if (indicators) {
          indicatorKeys = Object.keys(indicators.data);
        }
        var options = d3.select('#indicators').selectAll('option')
          .data(indicatorKeys, function(d) { return d; })
        options.enter()
          .append('option')
            .attr('value', function(d) { return d; })
            .html(function(d) { return d; });
        options.exit().remove();

        indicator = d3.select('#indicators').property('value');

        d3.select('#graph').selectAll('.otpa-graph').remove();
        update(indicators, range.value * 60);
      }).on('select', function(e) {
          var selectedIndicator = d3.select('#indicators').property('value');
          $('#info').html(infoTemplate({
            label: e.data.label,
            description: e.data.description,
            indicator: selectedIndicator,
            value: e.data.structured[selectedIndicator]
          }));
      }).on('unselect', function(e) {
          $('#info').html('');
          // make sure initally displayed selection matches start value
          d3.select('#pointsets').property('value', pointset);
      }).on('movedlocation', function(pt) {
          moveHighlightedBlock(pt);
      }).addTo(map);

    var isochroneShowing = false;
    $('#block-info').on('click', '#toggle-travelshed', function(e) {
        e.preventDefault();
        if (!isochroneShowing) {
          otpaLayer.showIsochrone(true);
          map.removeLayer(gridLayer);
          highlightedPolygon.clearLayers();
          $('#isochrone-details').show();
          $('#toggle-travelshed').text('Hide Travelshed');
        } else {
          otpaLayer.showIsochrone(false);
          map.addLayer(gridLayer);
          $('#isochrone-details').hide();
          $('#toggle-travelshed').text('Show Travelshed');
        }
        isochroneShowing = !isochroneShowing;
    });

    // update() calls otpaGraph with a DOM selection as a parameter.
    // otpaGraph chains the call through to a specific graph type.
    var attributes = {};
    function update(data, seconds) {

      var attributes = {};
      if (data && data.data) {
        attributes['Locations accessible'] = data.data[indicator].counts;
      }

      d3.select('#graph').selectAll('.otpa-graph')
          .data([{seconds: seconds, attributes: attributes}])
          .call(otpaGraph);
   }

  </script>
</body>
</html>
