<!DOCTYPE html>
<html>
<head>
	<title>Transit Data Analyst</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/otpagraph.css" />
	<link rel="stylesheet" href="css/leaflet.css" />
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.0.0/lodash.min.js"></script>
  <script src="js/d3.min.js" charset="utf-8"></script>
  <script src="js/leaflet-pip.js" charset="utf-8"></script>
  <script src="js/OTPAGraph.js" charset="utf-8"></script>
  <script src="js/OTPAGraphLine.js" charset="utf-8"></script>
  <script src="js/OTPAGraphBar.js" charset="utf-8"></script>
  <script src="js/OTPAGraphCircle.js" charset="utf-8"></script>
  <script src="js/OTPAGraphTable.js" charset="utf-8"></script>
  <script src="js/OTPAGraphDensity.js" charset="utf-8"></script>
  <script src="js/LocationLayer.js"></script>
  <script src="js/OTPALayer.js"></script>
</head>
<body>
  <div id="map"></div>
  <div id="box" class="leaflet-bar">
    <div class="container">
      <h1>Transit Data Analyst</h1>
      <p></p>
      <h4>Objects reachable within <span id="minutes">30</span> minutes:</h4>
      <table id="options">
        <tr><td>Travel time:</td><td><div id="slider"></div></td>
        <tr><td>Visualization:</td><td><select id="graph-type"></div></td>
        <tr><td>Point set:</td><td><select id="pointsets"></div></td>
        <tr><td>Indicators:</td><td><select id="indicators"></div></td>
      </table>
      <div id="graph"></div>
    </div>
  </div>
  <div id="info-box" class="leaflet-bar">
    <div class="container">
    <h3>Object Information</h4>
    <div id="info"></div>
  </div>
  <script type="text/template" id="info-template">
    <table>
      <tr>
      <% _.forIn(data, function(value, key) { %>
        <td><%= key %></td>
        <td><%= value %></td>
      <% }); %>
      </tr>
    </table>
  </div>
  </script>
  <script>
    var endpoint = 'http://localhost:8080/otp/',
        tileUrl = 'http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png',
        range = {
          value: 30,
          min: 15,
          max: 90,
          step: 15
        },
        philly = [39.952671, -75.165475],
        graphTypes = [
          {type: 'bar', label: 'Bar'},
          {type: 'line', label: 'Line'},
          {type: 'circle', label: 'Circle'},
          {type: 'table', label: 'Table'},
          {type: 'density', label: 'Density'}
        ],
        pointset = 'cornerstores.geo',
        indicator = 'cdc_store_level',
        indicators = {},
        graphType = graphTypes[0].type,
        visWidth = 300,
        otpaGraph = d3.otpaGraph().type(graphType).width(visWidth);

    // Use location hash to specify URL of OTPA endpoint:
    // http://localhost:8080/#192.168.1.103:8080/otp/
    if (location.hash) {
      endpoint = 'http://' + location.hash.slice(1);
    }

    var map = L.map('map').setView(philly, 12);

    L.tileLayer(tileUrl, {
      maxZoom: 18
    }).addTo(map);

    d3.select('#slider').append('input')
      .attr('type', 'range')
      .attr('min', range.min)
      .attr('max', range.max)
      .attr('step', range.step)
      .attr('value', range.value)
      .on("input", function() {
        var value = d3.select(this).property('value');
        range.value = value;
        d3.select('#minutes').html(value); // replace span with # of minutes

        otpaLayer.updateTime(value).then(function(mins) {
          update(indicators, mins * 60);
        });
      });

    d3.select('#graph-type').selectAll('option')
        .data(graphTypes).enter()
      .append('option')
        .attr('value', function(d) { return d.type; })
        .html(function(d) { return d.label; });

    d3.select('#graph-type').on("change", function() {
      graphType = d3.event.target.value;
      d3.select('#graph').selectAll('.otpa-graph').remove();
      otpaGraph = d3.otpaGraph().type(graphType).width(visWidth);
      update(indicators, range.value * 60)
    });

    d3.select('#pointsets').on("change", function() {
      pointset = d3.event.target.value;
      otpaLayer.setPointset(pointset); // TODO reference layer before create?
      update(indicators, range.value * 60)
    });

    d3.select('#indicators').on("change", function() {
      indicator = d3.event.target.value;
      d3.select('#graph').selectAll('.otpa-graph').remove();
      update(indicators, range.value * 60)
    });

    var infoTemplate = _.template($("#info-template").html());

    // // TODO: make sure order of on() and addTo() does not matter
    var otpaLayer = L.otpaLayer(endpoint, {
        cutoffMinutes: range.max,
        isochroneMinutes: range.value,
        spinner: '#spinner',
        pointset: pointset,
        location: philly,
        smoothFactor: 0.25,
        noClip: true
      }).on('pointsets', function(e) {
        d3.select('#pointsets').selectAll('option')
            .data(e.data).enter()
          .append('option')
            .attr('value', function(d) { return d.id; })
            .html(function(d) { return d.id; });
      }).on('change', function(e) {
        indicators = e.data;
        var indicatorKeys;
        if (indicators) {
          indicatorKeys = Object.keys(indicators.data);
        }
        //var indicatorKeys = Object.keys(indicators.features[0].properties.structured);
        var options = d3.select('#indicators').selectAll('option')
          .data(indicatorKeys, function(d) { return d; })

        options.enter()
          .append('option')
            .attr('value', function(d) { return d; })
            .html(function(d) { return d; });
        options.exit().remove();

        update(indicators, range.value * 60);
      }).on('select', function(e) {
          $('#info').html(infoTemplate({data: e.data.structured}));
      }).on('unselect', function(e) {
          $('#info').html('');
    }).addTo(map);

    // update() calls otpaGraph with a DOM selection as a parameter.
    // otpaGraph chains the call through to a specific graph type.
    var attributes = {};
    function update(data, seconds) {
      if (data && data.data) {
        var attributes = data.data[indicator];
      }
      d3.select('#graph').selectAll('.otpa-graph')
          .data([{seconds: seconds, attributes: attributes}])
          .call(otpaGraph);
   }

  </script>
</body>
</html>
